<h2 class="text-xl font-bold text-gray-800 mb-4 mt-12">Testing</h2>
<h3 class="text-lg text-gray-800 mb-4 mt-6">Unit Visits</h3>
<div class="overflow-hidden rounded-lg shadow-md">
    <table class="min-w-full divide-y divide-gray-200 text-sm">
    <thead class="bg-[#2463eb] text-white text-left">
        <tr>
        <th class="px-4 py-2">Apartment ID</th>
        <th class="px-4 py-2">Apartment Name</th>
        <th class="px-4 py-2">Building Name</th>
        <th class="px-4 py-2">Unit Number</th>

        </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
        <% @apartments.each do |row| %>
        <tr class="even:bg-gray-50 hover:bg-gray-100">
            <td class="px-4 py-2 font-medium text-gray-800"><%= row[:apartment_id] %></td>
            <td class="px-4 py-2"><%= row[:apartment_name] %></td>
            <td class="px-4 py-2"><%= row[:building_name] %></td>
            <td class="px-4 py-2"><%= row[:unit_number] %></td>

        </tr>
        <% end %>
    </tbody>
    </table>
</div>

<div class="text-center my-4">
  <div role="navigation" aria-label="Pagination" class="px-3 py-2 mx-2 text-gray-700 no-underline bg-white rounded-lg">
    <div class="custom_pagination">
      <div class="py-4">
        <%= page_entries_info @apartments %>
      </div>
      <div class="py-4">
        <%= will_paginate @apartments %>
      </div>
    </div>
  </div>
</div>